[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Django = "*"
djangorestframework = "*"
ipython = "*"
ipdb = "*"
pendulum = "*"
django-jet = "*"
black = "==19.3b0"
pre-commit = "*"
dynamic-rest = "*"
drf-extensions = "*"
djoser = "*"
django-filter = "*"

[dev-packages]

[requires]
python_version = "3.7"
