[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
ipython = "*"
ipdb = "*"
pendulum = "*"
django-jet = "*"
black = "==19.3b0"
pre-commit = "*"

[dev-packages]

[requires]
python_version = "3.7"
