asgiref==3.2.5
backcall==0.1.0
decorator==4.4.2
Django==3.0.4
django-filter==2.2.0
django-filters==0.2.1
django-templated-mail==1.1.1
djangorestframework==3.11.0
djoser==2.0.3
drf-extensions==0.6.0
drf-flex-fields==0.7.5
ipdb==0.13.2
ipython==7.13.0
ipython-genutils==0.2.0
jedi==0.16.0
parso==0.6.2
pendulum==2.1.0
pexpect==4.8.0
pickleshare==0.7.5
prompt-toolkit==3.0.4
ptyprocess==0.6.0
Pygments==2.6.1
python-dateutil==2.8.1
pytz==2019.3
pytzdata==2019.3
six==1.14.0
sqlparse==0.3.1
traitlets==4.3.3
wcwidth==0.1.8
